<% content_for :pageTitle do %>Contacts <% end %>

<% content_for :body do %>
<div class="container">
    <div class="row">
        <div class="col l12 m12 s12">
            <h1 class="heading white-text" style="font-weight: 200;">All Contacts</h1>
            <div class="row">
                <div class="col s12">
                    <div class="card-panel white">
                        <table>
                            <thead>
                                <tr>
                                    <th data-field="first_name">First Name</th>
                                    <th data-field="last_name">Last Name</th>
                                    <th data-field="email">Email</th>
                                    <th data-field="company">Company</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<% end %>

<%= render template: "layouts/application" %>
